
{{#if github}}

<img src={{github.picture}} alt="profile pic" width="125px" class="circle center-align" style="display: inline-block">
<h5>Profile: {{github.profile}}</h5>

{{else}}

<div class="dead">
  <div class="dead-logo"><i class="fab fa-github"></i></div>
  <div class="dead-name">
    <form class="col s12" method="POST" action="/add/github">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="z-depth-3 dead-tab-button">GitHub</button>
    </form>
  </div>
</div>

{{/if}}