
{{#if github}}

<div class="live">
  <div class="switches container">
    <div class="switch first">
      <p class="left">Send to GitHub</p>
      <label class="right">
        Off
        <input type="checkbox" name="github-too" class="PSelect">
        <span class="lever"></span>
        On
      </label>
    </div>
    <div class="switch">
      <p class="left">Send to GitHub ONLY</p>
      <label class="right">
        Off
        <input type="checkbox" name="github" class="PSOnly">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
</div>

{{else}}

<div class="dead">
  <div class="dead-logo"><i class="fab fa-github"></i></div>
  <div class="dead-name">
    <form class="col s12" method="POST" action="/add/github">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="z-depth-3 dead-tab-button">GitHub</button>
    </form>
  </div>
</div>

{{/if}}