
{{#if false}}

{{else}}

<div class="dead">
  <div class="dead-logo"><i class="fab fa-linkedin"></i></div>
  <div class="dead-name">
    <form class="col s12" method="POST" action="/auth/login">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="z-depth-3 dead-tab-button">LinkedIn</button>
    </form>
  </div>
</div>

{{/if}}