
{{#if pinterest}}

<div class="live">
  <div class="switches container">
    <div class="switch first">
      <p class="left">Send to Pinterest</p>
      <label class="right">
        Off
        <input type="checkbox" name="pinterest-too" class="PSelect" checked>
        <span class="lever"></span>
        On
      </label>
    </div>
    <div class="switch">
      <p class="left">Send to Pinterest ONLY</p>
      <label class="right">
        Off
        <input type="checkbox" name="pinterest" class="PSOnly">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>

  {{!-- Message --}}
  <div class="container custom-msg">
    <div class="input-field col s12">
      <textarea id="pinterestMsg" class="materialize-textarea"></textarea>
      <label for="pinterestMsg">Message</label>
    </div>
  </div>
</div>

{{else}}

<div class="dead">
  <div class="dead-logo"><i class="fab fa-pinterest"></i></div>
  <div class="dead-name">
    <form class="col s12" method="POST" action="/add/pinterest">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="z-depth-3 dead-tab-button">Pinterest</button>
    </form>
  </div>
</div>

{{/if}}