
{{#if twitter}}

<div class="live">
  <div class="switches container">
    <div class="switch first">
      <p class="left">Send to Twitter</p>
      <label class="right">
        Off
        <input type="checkbox" name="twitter-too" class="PSelect" checked>
        <span class="lever"></span>
        On
      </label>
    </div>
    <div class="switch">
      <p class="left">Send to Twitter ONLY</p>
      <label class="right">
        Off
        <input type="checkbox" name="twitter" class="PSOnly">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
</div>

{{else}}

<div class="dead">
  <div class="dead-logo"><i class="fab fa-twitter"></i></div>
  <div class="dead-name">
    <form class="col s12" method="POST" action="/add/twitter">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="z-depth-3 dead-tab-button">Twitter</button>
    </form>
  </div>
</div>

{{/if}}