<h1>{{title}}</h1>
<h5>Welcome {{username}}</h5>

<a href="/users/logout" class="waves-effect waves-light btn"><i class="fas fa-sign-out-alt fa-fw" data-fa-transform="shrink-1 left-3"></i>Logout</a>

<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
