<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<i class="fab fa-facebook-f fa-3x"></i>
<i class="fab fa-google fa-3x"></i>
<i class="fab fa-github fa-3x"></i>
<i class="fab fa-twitter fa-3x"></i>
<i class="fab fa-linkedin-in fa-3x"></i>
