<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> --}}
  <!-- Name of web application (only should be used if the website is used as an app) -->
  <meta name="application-name" content="SighIn SighOut">

  <!-- Theme Color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#00695c">

  <!-- Short description of the document (limit to 150 characters) -->
  <!-- This content *may* be used as a part of search engine results. -->
  <meta name="description" content="A basic SignIn SignUp project">
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/animate.min.css" />
  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    {{!-- <i class="large material-icons">add</i> --}}
    {{{body}}}
  </div>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>