<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/sign.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/authButtons.css" />
</head>
<div class="box animated fadeInDown">
  <div id="header">
    <div id="cont-lock"><i class="hero fas fa-user-lock"></i></div>
    <div id="bottom-head">
      <h1>Login</h1>
    </div>
  </div>
  {{> validation}}
  <div class="row set">
    <div id="auth">
      <div class="button google">
        <p class="btnText">Google</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-google"></i></p>
        </div>
      </div>
      <div class="button facebook">
        <p class="btnText">Facebook</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-facebook-f"></i></p>
        </div>
      </div>
      <div class="button github">
        <p class="btnText">Github</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-github"></i></p>
        </div>
      </div>
      <div class="button linkedin">
        <p class="btnText">Linkedin</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-linkedin-in"></i></p>
        </div>
      </div>
    </div>
    <form class="col s12" method="POST" action="/users/login">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate" required value={{email}}>
          <label for="email">Email Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button id="buttonlogintoregister" type="submit">Login</button>
    </form>
  </div>
  <div id="footer-box">
    <p class="footer-text">Not a member?<span class="sign-up"><a href="/users/register"> Sign up now </a></span></p>
  </div>
</div>