<head>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<div class="animated fadeInDown" style="overflow: hidden">
  <div class="navigator me" id="me">
    <div class="logo">{{title}}</div>
  </div>
</div>