<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/sign.css"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/authButtons.css" />
</head>
<div class="box animated fadeInDown">
  <div id="header">
    <div id="cont-lock"><i class="hero fas fa-users"></i></div>
    <div id="bottom-head"><h1>Register<a href="/"><i class="fas fa-home right home"></i></a></h1></div>
  </div>
  {{> validation}}
   <div class="row set">
     <div id="auth">
      <a href="/auth/google" class="button google">
        <p class="btnText">Google</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-google"></i></p>
        </div>
      </a>
      <a href="/auth/facebook" class="button facebook">
        <p class="btnText">Facebook</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-facebook-f"></i></p>
        </div>
      </a>
      <a href="/auth/github" class="button github">
        <p class="btnText">GitHub</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-github"></i></p>
        </div>
      </a>
      <a href="/auth/linkedin" class="button linkedin">
        <p class="btnText">LinkedIn</p>
        <div class="btnTwo">
          <p class="btnText2"><i class="fab fa-linkedin-in"></i></p>
        </div>
      </a>
    </div>
    <form class="col s12" method="POST" action="/auth/register">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" name="username" class="validate" required value={{username}}>
          <label for="username">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate" required value={{email}}>
          <label for="email">Email Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div><div class="row">
        <div class="input-field col s12">
          <input id="rePass" type="password" name="rePass" class="validate" required>
          <label for="rePass">Confirm Password</label>
        </div>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
  <div id="footer-box"><p class="footer-text">Already a member?<span class="sign-up"><a href="/auth/login"> Sign in here </a></span></p></div>
</div>
