#auth .button {
  display: block;
  margin : 10px auto;
  padding: 8px;
  font-size: 16px;
  font-weight: 300;
  width : inherit;
  height : 37px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
#auth .btnTwo {
  position : relative;
  width : inherit;
  height : 75px;
  margin-top: -65px;
  padding-top: 2px;
  background : #74428D;
  left : -125%;
  transition : .3s;
}
#auth .btnText {
  color : #FFF;
  transition : .3s;
  margin: 0;
}
#auth .btnText2 {
  margin-top : 43px;
  margin-right : -70%;
  color : #FFF;
}
#auth .button:hover{
  background: #cfd8dc;
}
#auth .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -75%;
}
#auth .button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
  color: #472C66;
}
#auth .button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.google {
  background-color: #DE5245;
  animation-delay: 700ms;
}

.facebook {
  background-color: #3C5A99;
  animation-delay: 900ms;
}

.github {
  background-color: #000000;
  animation-delay: 1100ms;
}

.linkedin {
  background-color: #0274B3;
  animation-delay: 1300ms;
}

@media (min-width: 992px) {
  .reg.button{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    height : 45px !important;
  }

  .reg .btnTwo {
    height : 83px !important;
    margin-top: -61px !important;
    padding-top: 2px !important;
  }

  .reg .btnText2 {
    margin-top : 43px !important;
  }

  .reg .btnText {
    margin-top: 5px !important;
  }
  .reg .btnText2 {
    margin-top : 34px !important;
    font-size: 20px !important;
  }
  .google {
    animation-delay: 1100ms;
  }
  .facebook {
    animation-delay: 1400ms;
  }
  .github {
    animation-delay: 1700ms;
  }
  .linkedin {
    animation-delay: 2000ms;
  }
}
