@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body {
  background-color: #142834;
  font-family: "Roboto";
  height: auto;
}

.main-cover {
  /* The image used */
  background-image: url("/images/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.navigator {
  height: 75px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(194, 167, 224);
}
.me {
  background-color: #472C66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.me-scroll {
  position: fixed;
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 70% !important;
  /* left: 0; */
}

.pic {
  /* margin: 12.5px 0px; */
  margin: -62.5px 0px;
  height: 125px;
  margin-left: calc(25% - 125px);
  margin-right: 30px;
  z-index: 10;
  overflow: visible;
  transition : .2s;
  cursor: pointer;
}

.pic-scroll {
  margin-top: 15px;
  margin-left: 15px;
}

.animated {
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}

.material-placeholder {
  display: contents;
  margin: 0;
}

.logo, .name {
  margin: auto;
  text-align: center;
  line-height: 75px;
  height: 75px;
  font-size: 2.1rem;
  color: #472C66;
  margin-left: 25%;
}

.name a {
  color: white;
  text-decoration: none;
}

.name {
  background: #472C66;
  font-size: 1.7rem;
  /* overflow-x: scroll; */
  overflow-y: hidden;
  text-overflow: clip;
  white-space: nowrap;
  transition : .2s;
}
.name-scroll {
  margin-left: 0;
  text-align: center;
  width: calc(100% - 300px)
}

#dropdown1 li a {
  color: #472C66 !important;
  background-color: rgb(194, 167, 224) !important;
  transition : .3s;
}

#dropdown1 li a:hover {
  background-color: #472C66 !important;
  color: white !important;
}

.dropdown-content {
  width: 125px;
  top: -30px;
}

.dashboard {
  margin-top: 10px;
}
.select {
  margin: 0;
}
.select .col {
  padding: 0;
}
.dashboard ul {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabs {
  background-color: #e9eaec;
  position: initial;
}
.tabs-scroll {
  width: 70% !important;
  position: fixed;
  bottom: 0;
}
.tabs .tab a {
  color: #472C6698;
  padding: 0;
}
.tabs .tab a:hover, .tabs .tab a.active {
  color: #472C66;
}
.tabs .indicator {
  background-color: #472C66;
  display: none;
}
.content > div {
  min-height: calc(100vh - 210px) !important;
  margin: 0;
  padding: 0;
  /* min-height: calc(150vh) !important; */
  background-color: rgba(214, 197, 233, 0.75);
}
.tab a {
  font-size: 20px !important;
}

.disabled {
  background-color: rgba(131, 131, 131, 0.9) !important;
}

.disabled > a {
  cursor: not-allowed !important;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
  color: transparent;
}

.tabs .tab .facebook:focus, .tabs .tab .facebook:focus.active, .tabs .tab .facebook.active {
  color: white;
  background-color: #3C5A99;
  border: 3px inset rgb(8, 29, 73);
}

.tabs .tab .google:focus, .tabs .tab .google:focus.active, .tabs .tab .google.active {
  color: white;
  background-color: #DE5245;
  border: 3px inset rgb(104, 14, 6);
}

.tabs .tab .github:focus, .tabs .tab .github:focus.active, .tabs .tab .github.active {
  color: white;
  background-color: #000000;
  border: 3px inset #555;
}

.tabs .tab .twitter:focus, .tabs .tab .twitter:focus.active, .tabs .tab .twitter.active {
  color: white;
  background-color: #3EC6EA;
  border: 3px inset rgb(18, 125, 155);
}

.tabs .tab .linkedin:focus, .tabs .tab .linkedin:focus.active, .tabs .tab .linkedin.active {
  color: white;
  background-color: #0274B3;
  border: 3px inset rgb(1, 54, 83);
}
.tabs .tab .pinterest:focus, .tabs .tab .pinterest:focus.active, .tabs .tab .pinterest.active {
  color: white;
  background-color: #CC2127;
  border: 3px inset rgb(105, 4, 8);
}

#message {
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 18px;
  box-shadow: 0px 0px 20px 3px #472C66;
  background-color: #472C66;
}

#message:hover {
  box-shadow: 0px 0px 10px 0px #000000;
}

textarea:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #472C66;
  webkit-box-shadow: 0 1px 0 0 #472C66;
  box-shadow: 0 1px 0 0 #472C66;
}
textarea:not(.browser-default):focus:not([readonly]) + label {
   color: #472C66;
}

textarea.materialize-textarea {
  /* background-color: rgb(194, 167, 224); */
}

@media (max-width: 992px) {
  .navigator {
    padding: 0 30px 0 0;
    display: flex;
  }
  .logo, .name {
    width: 100%;
    text-align: right;
    margin-left: 0;
    padding-right: 0;
  }
  .pic {
    margin-left: calc(30% - 120px);
  }
  .me-scroll {
    width: 85% !important;
  }
  .tabs-scroll {
    position: fixed;
    bottom: 0;
    width: 85% !important;
  }
  .pic-scroll {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 601px) {
  .me-scroll {
    width: 90% !important;
  }
  .tabs-scroll {
    position: fixed;
    bottom: 0;
    width: 90% !important;
  }
  #message {
    bottom: 30px;
    right: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .navigator {
    height: 50px;
    display: flex;
    padding-right: 10px;
  }
  .logo, .name {
    font-size: 1.5rem;
    padding-right: 10px;
    line-height: 50px;
    padding-right: 0;
  }
  .me {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .me-scroll {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .pic-scroll {
    margin: 0 !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
  }
  .name {
    font-size: 1.2rem;
    line-height: 50px;
    height: 50px;
  }
  .dropdown-content {
    width: 80px;
    top: -20px;
  }
  .pic {
    width: 80px;
    height: 80px;
    /* margin: 10px 0 10px 5px; */
    margin: -40px 0 10px 5px;
  }
  .dashboard {
    margin-top: 5px;
  }
  .dashboard ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .content > div {
    /* min-height: 150vh !important; */
    min-height: calc(100vh - 153px) !important;
  }
  .tab a {
    font-size: 20px !important;
  }
}
