@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body {
  background-color: #142834;
  font-family: "Roboto";
  height: 100%;
}

.main-cover {
  /* The image used */
  background-image: url("/images/background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.navigator {
  height: 75px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(194, 167, 224) ;
}
.me {
  background-color: #472C66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.pic {
  /* margin: 12.5px 0px; */
  margin: -62.5px 0px;
  height: 125px;
  margin-left: calc(25% - 125px);
  margin-right: 30px;
  z-index: 10;
  overflow: visible;
}

.material-placeholder {
  display: contents;
  margin: 0;
}

.logo, .name {
  margin: auto;
  text-align: center;
  line-height: 75px;
  height: 75px;
  font-size: 2.1rem;
  color: #472C66;
  margin-left: 25%;
}

.name a {
  color: white;
  text-decoration: none;
}

.name {
  background: #472C66;
  font-size: 1.7rem;
  overflow-x: scroll;
  overflow-y: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

#dropdown1 li a {
  color: #472C66 !important;
  background-color: rgb(194, 167, 224) !important;
  transition : .3s;
}

#dropdown1 li a:hover {
  background-color: #472C66 !important;
  color: white !important;
}

.dashboard {
  margin-top: 10px;
}
.select {
  margin: 0;
}
.select .col {
  padding: 0;
}
.dashboard ul {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabs {
  background-color: #e9eaec;
}
.tabs .tab a {
  color: #472C6698;
  padding: 0;
}
.tabs .tab a:hover, .tabs .tab a.active {
  color: #472C66;
}
.tabs .indicator {
  background-color: #472C66;
}
.content div {
  min-height: calc(100vh - 210px) !important;
  background-color: rgba(214, 197, 233, 0.75);
}
.tab a {
  font-size: 20px !important;
}

.tabs .tab .facebook:focus, .tabs .tab .facebook:focus.active, .tabs .tab .facebook.active {
  color: white;
  background-color: #3C5A99;
}

.tabs .tab .google:focus, .tabs .tab .google:focus.active, .tabs .tab .google.active {
  color: white;
  background-color: #DE5245;
}

.tabs .tab .github:focus, .tabs .tab .github:focus.active, .tabs .tab .github.active {
  color: white;
  background-color: #000000;
}

.tabs .tab .twitter:focus, .tabs .tab .twitter:focus.active, .tabs .tab .twitter.active {
  color: white;
  background-color: #3EC6EA;
}

.tabs .tab .linkedin:focus, .tabs .tab .linkedin:focus.active, .tabs .tab .linkedin.active {
  color: white;
  background-color: #0274B3;
}

.tabs .tab .pinterest:focus, .tabs .tab .pinterest:focus.active, .tabs .tab .pinterest.active {
  color: white;
  background-color: #CC2127;
}

@media (max-width: 992px) {
  .navigator {
    padding: 0 30px 0 0;
    display: flex;
  }
  .logo, .name {
    width: 100%;
    text-align: right;
    margin-left: 0;
    padding-right: 0;
  }
  .pic {
    margin-left: calc(30% - 120px);
  }
}

@media only screen and (max-width: 450px) {
  .navigator {
    height: 50px;
    display: flex;
    padding-right: 10px;
  }
  .logo, .name {
    font-size: 1.5rem;
    padding-right: 10px;
    line-height: 50px;
    padding-right: 0;
  }
  .me {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .name {
    font-size: 1.2rem;
    line-height: 50px;
    height: 50px;
  }
  .pic {
    width: 80px;
    height: 80px;
    /* margin: 10px 0 10px 5px; */
    margin: -40px 0 10px 5px;
  }
  .dashboard {
    margin-top: 5px;
  }
  .dashboard ul {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .content div {
    min-height: calc(100vh - 153px) !important;
  }
  .tab a {
    font-size: 20px !important;
  }
  .main-cover {
    background-image: none;
  }
}
