.dead {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  height: calc(100vh - 210px);
  overflow: hidden;
}

.dead-logo {
  height: 50%;
  font-size:150px;
  position: relative;
  top: calc(50% - 170px);
  /* transform: translateY(-80%); */
  transition: all 0.5s;
  color: #dbdde2;
}

.dead-name {
  height: 50%;
}

.dead-name button {
  position: relative;
  height: 50px;
  background: #dbdde2;
  border: 0;
  color: #472C66;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
}

.dead-name button:active {
  background: #472C66;
  color: #263238;
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.dead-name button:hover {
  color: #FFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 0px 1px 5px rgba(0,0,0,.4);
}

.live {
  background-color: rgb(190, 177, 206);
  height: calc(100vh - 210px);
}

.live .switches {
  padding-top: 20px;
}

.live .switch {
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  font-size: larger;
  color: #4e025a;
}

.switch > p {
  padding: 0;
  margin: 0;
}

.switch > label {
  color: #4e025a;
}

.switch.first {
  border-bottom: 1px solid gray;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #6506747a;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #591861;
}

@media only screen and (max-width: 450px) {
  .dead, .live {
    height: calc(100vh - 153px);
  }
}
