@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html, body {
  background-color: #142834;
  font-family: "Roboto";
  height: auto;
}

.main-cover {
  /* The image used */
  background-image: url("/images/background.jpg");

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}

.navigator {
  height: 75px;
  width: 100%;
  display: block;
  text-align: center;
}
.me {
  background-color: #472C66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 10;
}

.logo {
  margin: auto;
  text-align: center;
  line-height: 75px;
  height: 75px;
  font-size: 2.1rem;
  color: white;
  /* margin-left: 25%; */
}

.dashboard {
  margin-top: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: calc(100vh - 85px);
  background-color: rgb(194, 167, 224);
  padding: 30px 15px;
}

.custom {
  background-color: #E8EAEB;
  border-radius: 14px;
  overflow: hidden;
  overflow-x: scroll;
}

.custom > .row {
  margin-bottom: 0 !important;
}

.changer {
  margin-top: 80px;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #472C66;
  -webkit-box-shadow: 0 1px 0 0 #472C66;
  box-shadow: 0 1px 0 0 #472C66;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
   color: #472C66;
}

.input-field > label {
  color: #74428D !important;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #74428D;
}

@media (max-width: 601px) {
  custom > .row {
    margin-bottom: 20px !important;
  }
}
